<!-- <?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Deny">
        <system.webServer>
            <!-- This location is locked, so no settings can be overridden here -->
        </system.webServer>
    </location>

    <appSettings>
        <!-- Required settings -->
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Task_Manager" />
        <add key="DJANGO_SETTINGS_MODULE" value="task_manager.settings" />
        <add key="wfastcgi.enableReentrantCalls" value="false" />
    </appSettings>

    <location path="" overrideMode="Allow">
        <system.webServer>
            <handlers>
                <add name="Python FastCGI"
                     path="*"
                     verb="*"
                     modules="FastCgiModule"
                     scriptProcessor="C:\python311\python.exe|C:\python311\Lib\site-packages\wfastcgi.py"
                     resourceType="Unspecified"
                     requireAccess="Script" />
            </handlers>
        </system.webServer>
    </location>
</configuration> -->
