<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Task | Dashboard</title>{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% endblock %}
</head>
<style>
    .status_warning{
    background-color: red;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px red;
    padding: 2px;
    }
    .side-div3{
    padding:10px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    border:1px solid black;
    border-radius: 7px;
    box-shadow: 2px 0px 25px 1px black;
    cursor: pointer;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 14px;
    }
    .side-div3 a{
        text-decoration: none;
        background-color: white;
        margin-bottom: 2px;
        padding:3px;
        border-radius: 5px;
    }
     
</style>
<body>
    <header></header>
    <main>
        <section class="first-sec" >
            <div class="side-div1">
                <img style="width:150px;height:55px;border-radius:50%;margin-left: 20px;"  src="{% static 'images/logo1.webp' %}" alt="Sri Krishna Sweets">
                <p> <b style="color: white;"> <i class="bi bi-person-circle" style="margin-right: 5px;"></i>    User: </b>{{ request.user.username }} </p>
                <p> <b style="color: white;"><i class="bi bi-people" style="margin-right: 5px;"></i>Department : </b>{{ department }}</p>
                <p><b><a href="{% url 'logout' %}" style="color: white;"><i class="bi bi-box-arrow-right" style="margin-right: 5px;"></i> Log out</a></b></p>
            </div>
            <div class="side-div2">
                <a href="{% url 'specific_task' 'all' %}" class="side-bar-menu">All</a>
                <a href="{% url 'specific_task' 'Pending' %}" class="side-bar-menu">Pending</a>
                <a href="{% url 'specific_task' 'In progress' %}" class="side-bar-menu">In progress</a>
                <a href="{% url 'specific_task' 'Completed' %}" class="side-bar-menu">Completed</a>
            </div>
            <h3 style="position:absolute;left: 90px;">Projects</h3>
            <div class="side-div3" style="margin-top: 50px;">
                {% for project,count in projects.items %}
                    <a href="{% url 'specific_task' project %}">{{ forloop.counter }}. {{ project }} ({{ count }})</a>
                {% endfor %}
            </div>
            
        </section>
        <section class="second-sec">
            <nav style="display:flex;">
                <a href="{% url 'dashboard' %}">Tasks</a>
                <a href="{% url 'report_view' %}">Analytics</a>
                <a href="{% url 'filter_search' %}">Filter</a>
                <a href="{% url 'over_due' %}">Over_Due</a>
                {% if request.user.is_staff %}
                <a href="{% url 'add_user' %}">add_user</a>
                <a href="{% url 'Team_mem' %}">Team</a>
                <a href="{% url 'new_task_creation' %}">New_Task</a>
                <a href="{% url 'project_creation' %}">Project_Creation</a>
                {% endif %}
                <marquee behavior="right" direction="alternate" style="color: yellow;">🚨 Announcement: Update Your Phone Number on Your Profile as Well as Your Team's 🚨</marquee>
            </nav>
            {% block content %}
            {% if project_name %} <h3>{{ project_name }}</h3> {% endif %}
            <div class="dashboard">
                {% if today_task %}
                <p class="table_head">Today_task</p>
                <div class="table_div1">
                    <table class="main-table">
                        <th>S.No</th>
                        <th>Task</th>
                        <th>Created by</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Waiting</th>
                        <th>Stuck Time</th>
                        {% for i in today_task %}
                            <tr>
                                <td>{{ forloop.counter  }}</td>
                                <td class="table_firstdata"><a href="{% url 'update_task' i.id %}"> {{ i.title }} </a></td>
                                <td>{{ i.created_by }} <p style="font-size: 11px;text-align: center;">{{ i.task_created_at }}</p> </td>
                                <td>{{ i.due_date }}</td>
                                {% if i.incomplete %}
                                    <td ><span class="status_warning" style="width: 100px;">{{ i.status }}</span></td>
                                    <td><span class="waiting_user">{{ i.waiting_for_username }}</span></td>
                                {% else %}
                                <td class="status">
                                    <span style="{% if i.status == 'Completed' %}color:green;{% endif %}">{{ i.status }}</span>
                                    {% if i.status == "Completed" %}
                                        <br>
                                        <span style="font-size: 11px; {% if i.is_late %}color: red;{% else %}color: green;{% endif %}">
                                            {{ i.task_completed_at }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td><span></span></td>
                                {% endif %}
                                <td>
                                    <div style="display: flex;flex-direction: column;">
                                        {% if i.struck_time_start_at %} 
                                            <span style="font-size:12px;"> <img src="{% static 'images/startbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.struck_time_start_at }}</span>
                                        {% endif %}
                                        {% if i.stuck_time_end_at %}
                                            <span style="font-size:12px;"> <img src="{% static 'images/stopbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.stuck_time_end_at }}</span>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
                {% if yesterday %}
                <p class="table_head">Yesterday_task</p>
                <div class="table_div1">
                    <table class="main-table">
                        <th>S.No</th>
                        <th>Task</th>
                        <th>Created by</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Waiting</th>
                        <th>Stuck Time</th>
                        {% for i in yesterday %}
                            <tr>
                                <td>{{ forloop.counter  }}</td>
                                <td class="table_firstdata"><a href="{% url 'update_task' i.id %}"> {{ i.title }} </a></td>
                                <td>{{ i.created_by }} <p style="font-size: 11px;text-align: center;">{{ i.task_created_at }}</p> </td>
                                <td>{{ i.due_date }}</td>
                                {% if i.incomplete %}
                                    <td ><span class="status_warning" style="width: 100px;">{{ i.status }}</span></td>
                                    <td><span class="waiting_user">{{ i.waiting_for_username }}</span></td>
                                {% else %}
                                <td class="status">
                                    <span style="{% if i.status == 'Completed' %}color:green;{% endif %}">{{ i.status }}</span>
                                    {% if i.status == "Completed" %}
                                        <br>
                                        <span 
                                            style="font-size: 11px; {% if i.is_late %}color: red;{% else %}color: green;{% endif %}">
                                            {{ i.task_completed_at }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td><span></span></td>
                                {% endif %}
                                <td>
                                    <div style="display: flex;flex-direction: column;">
                                        {% if i.struck_time_start_at %}
                                            <span style="font-size:12px;"> <img src="{% static 'images/startbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.struck_time_start_at }}</span>
                                        {% endif %}
                                        {% if i.stuck_time_end_at %}
                                            <span style="font-size:12px;"> <img src="{% static 'images/stopbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.stuck_time_end_at }}</span>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
                {% if this_week %}
                <p class="table_head" >This_week</p>
                <div class="table_div1">
                    <table class="main-table">
                        <th>S.No</th>
                        <th>Task</th>
                        <th>Created by</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Waiting</th>
                        <th>Stuck Time</th>
                        {% for i in this_week %}
                            <tr>
                                <td>{{ forloop.counter  }}</td>
                                <td class="table_firstdata"><a href="{% url 'update_task' i.id %}"> {{ i.title }} </a></td>
                                <td>{{ i.created_by }} <p style="font-size: 11px;text-align: center;">{{ i.task_created_at }}</p> </td>
                                <td>{{ i.due_date }}</td>
                                {% if i.incomplete %}
                                    <td ><span class="status_warning" style="width: 100px;">{{ i.status }}</span></td>
                                    <td><span class="waiting_user">{{ i.waiting_for_username }}</span></td>
                                {% else %}
                                <td class="status">
                                    <span style="{% if i.status == 'Completed' %}color:green;{% endif %}">{{ i.status }}</span>
                                    {% if i.status == "Completed" %}
                                        <br>
                                        <span  
                                            style="font-size: 11px; {% if i.is_late %}color: red;{% else %}color: green;{% endif %}">
                                            {{ i.task_completed_at }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td><span></span></td>
                                {% endif %}
                                <td>
                                    <div style="display: flex;flex-direction: column;">
                                        {% if i.struck_time_start_at %} 
                                            <span style="font-size:12px;"> <img src="{% static 'images/startbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.struck_time_start_at }}</span>
                                        {% endif %}
                                        {% if i.stuck_time_end_at %}
                                            <span style="font-size:12px;"> <img src="{% static 'images/stopbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.stuck_time_end_at }}</span>
                                        {% endif %}
                                    </div>    
                                </td>
                            </tr>
                        {% endfor %}        
                    </table>    
                </div>      
                {% endif %}
                {% if last_week %}  
                <p class="table_head" >Last_week</p>
                    <div class="table_div1">
                    <table class="main-table">
                        <th>S.No</th>
                        <th>Task</th>
                        <th>Created by</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Waiting</th>
                        <th>Stuck Time</th>
                        {% for i in last_week %}
                            <tr>
                                <td>{{ forloop.counter  }}</td>
                                <td class="table_firstdata"><a href="{% url 'update_task' i.id %}"> {{ i.title }} </a></td>
                                <td>{{ i.created_by }} <p style="font-size: 11px;text-align: center;">{{ i.task_created_at }}</p> </td>
                                <td>{{ i.due_date }}</td>
                                {% if i.incomplete %}
                                    <td ><span class="status_warning" style="width: 100px;">{{ i.status }}</span></td>
                                    <td><span class="waiting_user">{{ i.waiting_for_username }}</span></td>
                                {% else %}
                                    <td class="status">
                                        <span style="{% if i.status == 'Completed' %}color:green;{% endif %}">{{ i.status }}</span>
                                        {% if i.status == "Completed" %}
                                            <br>
                                            <span 
                                                style="font-size: 11px; {% if i.is_late %}color: red;{% else %}color: green;{% endif %}">
                                                {{ i.task_completed_at }}
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td><span></span></td>
                                {% endif %}
                                <td>
                                    <div style="display: flex;flex-direction: column;">
                                        {% if i.struck_time_start_at %} 
                                            <span style="font-size:12px;"> <img src="{% static 'images/startbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.struck_time_start_at }}</span>
                                        {% endif %}
                                        {% if i.stuck_time_end_at %}
                                            <span style="font-size:12px;"> <img src="{% static 'images/stopbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.stuck_time_end_at }}</span>
                                        {% endif %}
                                    </div>    
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
                {% if this_month %}
                <p class="table_head">This_month</p>
                <div class="table_div1">
                    <table class="main-table">
                        <th>S.No</th>
                        <th>Task</th>
                        <th>Created by</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Waiting</th>
                        <th>Stuck Time</th>
                        {% for i in this_month %}
                            <tr>
                                <td>{{ forloop.counter  }}</td>
                                <td class="table_firstdata"><a href="{% url 'update_task' i.id %}"> {{ i.title }} </a></td>
                                <td>{{ i.created_by }} <p style="font-size: 11px;text-align: center;">{{ i.task_created_at }}</p> </td>
                                <td>{{ i.due_date }}</td>
                                {% if i.incomplete %}
                                    <td ><span class="status_warning" style="width: 100px;">{{ i.status }}</span></td>
                                    <td><span class="waiting_user">{{ i.waiting_for_username }}</span></td>
                                {% else %}
                                <td class="status">
                                    <span style="{% if i.status == 'Completed' %}color:green;{% endif %}">{{ i.status }}</span>
                                    {% if i.status == "Completed" %}
                                        <br>
                                        <span 
                                            style="font-size: 11px; {% if i.is_late %}color: red;{% else %}color: green;{% endif %}">
                                            {{ i.task_completed_at }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td><span></span></td>
                                {% endif %}
                                <td>
                                    <div style="display: flex;flex-direction: column;">
                                        {% if i.struck_time_start_at %} 
                                            <span style="font-size:12px;"> <img src="{% static 'images/startbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.struck_time_start_at }}</span>
                                        {% endif %}
                                        {% if i.stuck_time_end_at %}
                                            <span style="font-size:12px;"> <img src="{% static 'images/stopbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.stuck_time_end_at }}</span>
                                        {% endif %}
                                    </div>    
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
                {% if last_month %}
                <p class="table_head">Last_month</p>
                <div class="table_div1">
                    <table class="main-table">
                        <th>S.No</th>
                        <th>Task</th>
                        <th>Created by</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Waiting</th>
                        <th>Stuck Time</th>
                        {% for i in last_month %}
                            <tr>
                                <td>{{ forloop.counter  }}</td>
                                <td class="table_firstdata"><a href="{% url 'update_task' i.id %}"> {{ i.title }} </a></td>
                                <td>{{ i.created_by }} <p style="font-size: 11px;">{{ i.task_created_at }}</p> </td>
                                <td>{{ i.due_date }}</td>
                                {% if i.incomplete %}
                                    <td ><span class="status_warning" style="width: 100px;text-align: center;">{{ i.status }}</span></td>
                                    <td><span class="waiting_user">{{ i.waiting_for_username }}</span></td>
                                {% else %}
                                <td class="status">
                                    <span style="{% if i.status == 'Completed' %}color:green;{% endif %}">{{ i.status }}</span>
                                    {% if i.status == "Completed" %}
                                        <br>
                                        <span 
                                            style="font-size: 11px; {% if i.is_late %}color: red;{% else %}color: green;{% endif %}">
                                            {{ i.task_completed_at }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td><span></span></td>
                                {% endif %}
                                <td>
                                    <div style="display: flex;flex-direction: column;">
                                        {% if i.struck_time_start_at %} 
                                            <span style="font-size:12px;"> <img src="{% static 'images/startbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.struck_time_start_at }}</span>
                                        {% endif %}
                                        {% if i.stuck_time_end_at %}
                                            <span style="font-size:12px;"> <img src="{% static 'images/stopbutt.jpg' %}" alt="" style="width: 10px;height: 10px;"> {{ i.stuck_time_end_at }}</span>
                                        {% endif %}
                                    </div>    
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>
            <span class="table_head">Total :  {{ total_count }}</span>
            {% endblock %}
        </section>
    </main>
    <script>
        const status = document.querySelectorAll('.status');
        status.forEach(e =>{
            if(e.textContent.trim() === 'Pending'){
                e.style.color='red'
            }else if(e.textContent.trim() === 'Completed'){
                e.style.color='green';
            }else{
                e.style.color = 'blue'
            }
        })
    </script>
</body>
</html>