{% extends 'dashboard.html' %}
{% block head %}
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Task | overdue </title>{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <style>
        .table_div1 {
            max-height: 450px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="dashboard" style="margin-top:5%;">
    <div class="table_div1">
        <table class="main-table">
            <th>S.No</th>
            <th>Task</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Created by</th>
            <th>Details</th>
            {% for i in overdue_task %}
                <tr>
                    <td>{{ forloop.counter  }}</td>
                    <td class="table_firstdata" >{{ i.title }}</td>
                    <td>{{ i.due_date }}</td>
                    <td class="status">{{ i.status }}</td>
                    <td  class="table_firstdata">{{ i.created_by }}</td>
                    <td><a href="{% url 'update_task' i.id %}" >View</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}