<!-- <script>
    // Form submission
    const form = document.querySelector('form');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(form); // Create FormData from the form

        // Append the recorded audio blob to the form data if it exists
        if (recordedAudioBlob) {
            formData.append('audio', recordedAudioBlob, 'recording.webm');
        }

        const response = await fetch(`/update_task/{{ tasks.id }}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
            body: formData,
        });

        if (response.ok) {
            console.log('Form submitted successfully!');
            window.location.href = "{% url 'dashboard' %}";
        } else {
            console.error('Error submitting form');
        }
    });
</script> -->