{% extends 'dashboard.html' %}
{% block head %}
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Task | Team </title>{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <style>
        .table_row{
            text-align:center;
        }
        .table_data{
            width:250px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="team_mem_div">
    <table cellspacing=20>
        <tr style="border:2px solid white;">
            <th>S.No</th>
            <th>Name</th>
            <th>Department</th>
            <th>Pending</th>
            <th>In Progress</th>
            <th>Tasks</th>
            <th>Profile</th>
        </tr>
        {% for i ,k in mem_dict.items %}
            <tr class="table_row">
                <td>{{ forloop.counter }}</td>
                <td class="table_data">{{ i }}</td>
                <td class="table_data">{{ request.user.department }}</td>
                <td class="table_data">{{ k.pending }}</td>
                <td class="table_data">{{ k.in_progress }}</td>
                <td class="table_data"><a href="{% url 'profile_update' k.id %}">View{{ k.id }}</a></td>
                <td class="table_data"><a href="{% url 'profile_view' k.id  %}">View</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
