body{
    background-color: rgb(114, 94, 134);

}

main{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
}

.first-sec{
    padding:10px;
    height: 92vh;
    width: 230px;
}

.side-div1{
    border: solid 1px black;
    padding:10px;
    border-radius: 7px;
    box-shadow:2px 0px 25px 1px black;
}

.side-div2{
    padding:10px;
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-top: 25px;
    border:1px solid black;
    border-radius: 7px;
    box-shadow: 2px 0px 25px 1px black;
}

.side-bar-menu{
    padding:5px;
    border:1px solid black;
    border-radius: 5px;
    margin-bottom: 7px;
    background-color:white;
    color: black;
    text-decoration: none;
}

nav a:hover{
    border-color: white;
    background-color: rgb(114, 94, 134);


}

.side-bar-menu:hover{
    background-color: rgb(114, 94, 134);
    border-color: white;
}

.second-sec{
    margin-left:5px;
    width:80%;
    height: 95vh;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0 20px 20px 20px;
}

.main-table{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    margin-bottom:15px;
    width: 100%;
}

.main-table tr{
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.main-table tr td{
    padding: 10px;
}

.table_head{
    color: white;
    width: 700px;;
}

.table_firstdata{
    width:350px;
    max-width: 350px;
    overflow-x: auto;
    text-align: left;
}

.table_div1{
    max-height: 250px;
    overflow-x: auto;
    overflow-y: auto;
}

nav{

    position: sticky;
    top:0;
    background-color:rgb(114, 94, 134);
    padding:20px;
    border-bottom:2px solid white;

}

nav a{
    text-decoration: none;
    padding:5px;
    background-color: white;
    border:1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    color: black;
}

@media (min-width: 1681px) and (max-width: 1920px) {
    .second-sec{
        height: 670px;
        width:80%;

    }
    .table_firstdata{
        width:350px;
        max-width: 350px;
        overflow-x: auto;
        text-align: left;
    }
}